@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.CodeMirror {
  height: 350px !important;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .CodeMirror {
    max-height: 200px;
  }
}

@media only screen and (max-height: 750px) and (min-width: 900px) {
  .CodeMirror {
    max-height: 200px;
  }
}